$primary-color-1: #FFFFFF;
$primary-color-2: #000000;
$primary-color-3: #363738;
$text-color-1: #FFFFFF;
$text-color-2: #7D8184;
$secondary-color-1: #DB4444;
$secondary-color-2: #00FF66;
$button-hover-1: #E07575;
$button-hover-2: #A0BCE0;