$primarycolor1: #FFFFFF;
$primarycolor2: #000000;
$primarycolor3: #373839;
$textcolor1: #FFFFFF;
$textcolor2: #7D8184;
$secondarycolor1: #DB4444;
$secondarycolor2: #00FF66;
$button-hover1: #E07575;
$button-hover2: #A0BCE0;