nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    height: 72px;
    width: 100%;

    menu {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 34px;
    }

    .items {
        display: flex;
        align-items: center;
        gap: 10px;

        .basket {
            position: relative;

            .subBasket {
                background-color: #4AAFD5;
                width: 320px;
                height: 0px;
                transition: 0.4s;
                position: absolute;
                top: 40px;
                right: 0;
                z-index: 1;
                border-radius: 5px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;
                overflow-y: scroll;
                .cart {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 2px;
                    max-width: 260px;
                    min-height: 100px;
                    padding: 0 12px;
                    border: 2px solid #80C4B7;
                    background-color: #F6EDE3;
                    border-radius: 10px;
                    overflow: hidden;
                    color: #E8BA40;
                    .imgbox {
                        max-width: 80px;

                        img {
                            border-radius: 6px;
                        }
                    }
                }

                strong {
                    color: black;
                    font-weight: 300;
                }

                .price {
                    color: #DB4444;
                }

                .total {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: white;

                    .totalPrice {
                        font-size: 22px;
                        font-weight: 700;
                        color: #DB4444;
                    }
                }

                .btn {
                    border-radius: 50%;
                    padding: 0 8px;
                    color: white;
                    background-color: rgb(193, 204, 94);
                    border: 2px solid rgb(55, 65, 28);

                    &:hover {
                        background-color: #C7395F;
                    }
                }
            }

            .active {
                height: 400px;
                padding: 16px;
            }
        }

    }

}


@media screen and (max-width: 992px) {
    nav {
        justify-content: center;
        gap: 144px;

        h2 {
            font-size: 20px;
        }

        menu {
            gap: 10px;
            font-size: 14px;
        }

        .input {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        gap: 56px;

        h2 {
            font-size: 20px;
        }

        menu {
            gap: 10px;
            font-size: 14px;
        }

        .input {
            display: none;
        }
    }
}

@media screen and (max-width: 576px) {
    nav {
        gap: 40px;

        h2 {
            font-size: 20px;
        }

        menu {
            gap: 10px;
            font-size: 14px;
        }

        .input {
            display: none;
        }
    }
}