.loading{
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: var(--primary1);
    font-size: 200px;
    width: 200px;
    height: 200px;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

}