.header {
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 24px;
    gap: 240px;

    button {
        background: linear-gradient(45deg, black, transparent);
        color: inherit;
        border: none;
    }

    p {
        display: flex;
        align-items: center;
        color: inherit;
        height: 100%;
        margin-right: 20px;

    }

    .lang {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: var(--primary2);
        color: var(--primary1);
        display: none;
        position: absolute;
        top: 32px;
        left: 0;

        li {
            cursor: pointer;
            padding-left: 32px;
            color: var(--primary1);
            width: 100%;
            margin: 2px 0;

            &:hover {
                background-color: #DB4444;
            }
        }
    }

    .display {
        display: flex;
    }
}

//voucher section start
#voucher {
    padding: 120px 0 40px;
    width: 100%;
    height: 100%;

    .sideBar {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;

        .life {
            i {
                color: var(--primary2);
                transition: 0.3s;
            }
        }

        li {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 10px;

            a {
                display: inline-block;
                width: 100%;
            }

            .subMAn,
            .subLife {
                height: 0;
                transition: 0.3s;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                overflow: hidden;
                margin-top: 10px;
            }

            .subOpenLife {
                height: 120px;
                padding: 16px;
            }

            .subOpenMan {
                height: 150px;
                padding: 16px;
            }

        }
    }

    .slider {
        background-color: var(--primary2);
        // color: var(--primary1);
        display: flex;
        align-items: center;
        padding: 80px;

        .title {
            display: flex;
            flex-direction: column;
            align-items: start;
            background-color: var(--primary2);
            color: var(--primary2);
            // background-color: var(--primary2);
            // color: var(--primary1);

            .apple {
                display: flex;
                align-items: center;
                gap: 32px;
                background: none;
                color: var(--primary1);

                i,
                h5 {
                    color: var(--primary1);

                }

                i {
                    font-size: 49px;
                    color: inherit;
                }
            }

            h1 {
                color: var(--primary1);
                margin: 20px 0;
            }

            .showNow {
                display: flex;
                align-items: center;
                gap: 8px;
                background-color: var(--primary2);

                button {
                    display: inline;
                    width: 84px;
                    padding-bottom: 4px;
                    background: var(--primary2);
                    color: rgb(183, 183, 183);
                    border: none;
                    border-bottom: 1px solid var(--primary1);
                }

                i {
                    background-color: var(--primary2);
                    color: var(--primary1);
                }
            }

        }

        .imgbox {
            background-color: white;

            img {
                background-color: inherit;
                background: white;
            }
        }
    }
}

//voucher section end

//flashSales section start

#flashSales,
#bestSelling,
#ourProducts {
    position: relative;
    padding: 80px 0;

    .topSide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px 0 40px;

        .leftSide {
            display: flex;
            gap: 80px;
            align-items: end;

            h3 {
                font-size: 36px;
                font-weight: 600;
                letter-spacing: 1.44px;

            }
        }
    }

    .clock {
        font-size: 32px;
        font-weight: 700;
    }

    .cart {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        gap: 32px;

        .imgbox {
            width: 100%;
            max-height: 100%;
            background-color: var(--primary1);
            position: relative;
            overflow: hidden;
            border-radius: 5px;

            img {
                width: 100%;
                max-height: 268px;
            }

            span {
                color: white;
                border-radius: 4px;
                background: #DB4444;
                display: inline-flex;
                padding: 4px 12px;
                font-weight: 200;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 10px;
                top: 10px;
            }

            .items {
                display: flex;
                flex-direction: column;
                gap: 10px;
                position: absolute;
                right: 10px;
                top: 16px;

                .heart,
                .eye {
                    font-size: 24px;
                }

            }

            .add {
                color: white;
                height: 0px;
                background-color: var(--secondarycolor1);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: 10px;
                position: absolute;
                right: 0;
                bottom: 0;
                transition: 0.3s;
                opacity: 0;
            }
        }

        .rate {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &:hover {
            .add {
                height: 40px;
                opacity: 1;
            }
        }

        .subtitle {
            padding: 20px 10px;

            h6 {
                font-size: 18px;
            }

            .price {
                display: inline-block;
                margin: 8px 12px 8px 0;
                color: #DB4444;
            }

        }
    }
}

//flashSales section end

//enhance section start

#enhance {
    padding: 0 0 40px;

    .mainSide {
        display: flex;
        background-color: var(--primary2);
        padding: 40px 0;
        height: 100%;

        .leftSide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
            padding: 48px;
            background-color: var(--primary2);
            color: var(--primary1);

            h5 {
                color: var(--secondarycolor2);
            }

            h2 {
                color: var(--primary1);
            }

            ul {
                background-color: var(--primary2);

                li {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: var(--primary1);

                    .number {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }

            .btn {
                width: 220px;
                height: 64px;
                font-size: 20px;
                background-color: var(--secondarycolor2);
            }
        }

        .imgbox {
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 440px;
            background-color: var(--primary2);
            min-height: 100%;

        }
    }

}

@media screen and (max-width: 992px) {
    #enhance {
        .mainSide {
            flex-wrap: wrap;

            .leftSide {
                padding: 0 20px;
                text-align: center;
                display: flex;
                align-items: center;
            }

            .imgbox {
                justify-content: start;
                align-items: start;
                max-height: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .splide__arrows {
        display: none;
    }
}

//enhance section end

//categories section start

#categories {
    .heading {
        margin-bottom: 60px;
    }

    .cart {
        border-radius: 4px;
        border: 2px solid rgba(0, 0, 0, 0.30);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 16px;
        padding: 16px;
        transition: 0.3s;
        color: var(--primary2);

        &:hover {
            background-color: var(--secondarycolor1);
            color: var(--primary1);

        }

        .icon {
            display: flex;
            gap: 20px;
            flex-direction: column;
            background-color: inherit;
            padding: 25px 16px;

            i {
                font-size: 40px;
                color: inherit;
            }

            h4 {
                color: inherit;
            }
        }
    }
}

//categories section end

.splide__arrows {
    position: absolute;
    right: 140px;
    top: -80px;
    transform: translate(-50%, -50%);

    .splide__arrow {

        width: 46px;
        height: 46px;
    }
}

@media screen and (max-width: 576px) {
    #flashSales {
        .cart {
            .imgbox {
                display: flex;
                justify-content: center;

                img {
                    max-width: 240px;
                }
            }
        }
    }
}

//flashSales section end

//arrival section start
#arrival {
    height: 100%;
    padding: 40px 0;


    .top {
        display: flex;
        gap: 20px;
        flex-direction: column;
        margin-bottom: 20px;

        h2 {
            font-size: 22px;
        }
    }

    div {

        background-color: none;
    }

    .leftTitle,
    .rightTitle {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        position: absolute;
        left: 20px;
        bottom: 20px;
        color: var(--primary1);
        background: none;

        h3 {
            color: var(--primary1);
        }

        p {
            color: var(--primary1);
            margin: 10px 0;
        }

        button {
            display: inline;
            width: 84px;
            padding-bottom: 4px;
            background: none;
            // color: rgb(255, 255, 255);
            color: var(--primary1);
            border: none;
            border-bottom: 1px solid white;
        }
    }

    .rightTitle {
        position: static;
    }

    .rightTop {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: var(--primary2);
        color: var(--primary2);
        padding: 40px 20px 20px;
        position: relative;
        color: var(--primary1);

    }

    .imgbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: var(--primary2);
        position: relative;
    }
}

//arrival section end