*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
ul,li
{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}   
svg{
    cursor: pointer;
}
.home{
    font-size: 20px;
    color: var(--secondarycolor1);
}