
//service section start
#service {
    padding: 100px 0;
    .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 264px;
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 110px;
            height: 110px;
            border: 12px solid rgb(126, 126, 126);
            font-size: 40px;
        }
        h3{
                margin: 24px 0 16px;
        }
        p{
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 768px) {
    .cart{
        margin: 24px 0;
    }
}
//service section end